.header {
    display: inline-flex;
    border: solid #D0E1F9 1px;
    position: absolute;
    color: #D0E1F9;
    width: 85.1%;
    height: 3rem;
}

.channel-desc {
    position: relative;
    top: 20%;
    left: 1%;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}